.form {
  border: 1px dotted #04070d;
  background-color: rgba(79, 94, 140, 0.5);
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  width: 30%;
  height: auto;
}
.titleBooking {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #c2d2f2;
}
.quoteForm {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

label[for="location"],
label[for="ship"] {
  color: #c2d2f2;
}
