.nav{
  display: flex;
  align-content: center;
  gap: 5rem;
  margin:auto;
  margin-right: 1em

}

.navigation{
  display: flex;
  
}


.nav-list {
  color: #c2d2f2;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5em;
  opacity: 1;

}

.nav-links {
  text-decoration: none;
  color: #c2d2f2;
  font-weight: bold;
}

.nav-links:hover {
  cursor: pointer;
}
/* .navigation {
  margin-top: 2rem; 
  display: flex;
  justify-content: space-around;
} */
