.fade-out {
  animation: fade-out 10s ease-out both;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fade-in 10s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.SectionShootingStar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.SpanShootingStar {
  position: absolute;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.1),
    0 0 0 5px rgba(255, 255, 255, 0.1), 0 0 15px rgba(255, 255, 255, 1);
  animation: animate 10s linear infinite;
}
.SpanShootingStar::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
.SpanShootingStar:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 5s;
  animation-duration: 3s;
  z-index: -1;
}
.SpanShootingStar:nth-child(2) {
  top: 50;
  right: 480px;
  left: initial;
  animation-delay: 10s;
  animation-duration: 4.5s;
  z-index: -1;
}

.SpanShootingStar:nth-child(3) {
  top: 0;
  right: initial;
  left: 450px;
  animation-delay: 15s;
  animation-duration: 2s;
  z-index: -1;
}
